.author > ul {
    list-style: none;
}

/* If horizontal then the child elements would be arranged in row*/
.author > ul >li {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

.author .author-content{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.author .author-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.author .author-avatar img{
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
}

.author.social-white .author-social-links span {
    padding: 12px;
    background-color: black;
}

.author .author-info h4{
    font-size: 24px;
}

.author .author-info p{
    font-size: 12px;
    text-transform: uppercase;
}

.author ul {
    padding-left: 0;
}

/* Alignment of the contributors in vretical manner in about-us section.*/
.author.vertical ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.author.vertical ul li{
    width: auto;
    flex-direction: column;
    padding: 9px 14px 18px 14px;
}

.author.vertical ul li .author-content{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.author.vertical .author-info{
    text-align: center;
}

.author.vertical .author-social-links{
    display: flex;
    width: 100%;
    justify-content: center;
}

.author.vertical .author-avatar{
    width: 164px;
    height: 164px;
}

.author.vertical .author-wrapper {
    border-top: none;
}

@media (width >= 900px ) {
    .author > ul >li {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .author .author-avatar {
        width: 80px;
        height: 80px;
    }  
    
    /* Alignment of the contributors in about us section */
    .author.vertical ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap:24px
    }
}